{% extends 'apps/base.html' %}

{% load i18n %}

{% block content %}
    <div class="card mb-3">
        <div class="card-body">
            <div class="container">
                <div class="container border-bottom-4">
                    <div class="header_tab_menu">
                        <div class="header_menu" style="overflow: auto">
                            <a href="?period=today" class="btn btn-default">{% translate "Today" %}</a>
                            <a href="?period=last_day" class="btn btn-default">{% translate "Yesterday" %}</a>
                            <a href="?period=weekly" class="btn btn-default">{% translate "Weekly" %}</a>
                            <a href="?period=monthly" class="btn btn-default">{% translate "Monthly" %}</a>
                            <a href="{% url 'stream_status' %}" class="btn btn-default">{% translate "All" %}</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-center">

                        <tr>
                            <th scope="col">{% translate "Stream" %}</th>
                            <th scope="col">{% translate "Product" %}</th>
                            <th scope="col">{% translate "Visit" %}</th>
                            <th scope="col">{% translate "New" %}</th>
                            <th scope="col">{% translate "Ready to delivery" %}</th>
                            <th scope="col">{% translate "Delivering" %}</th>
                            <th scope="col">{% translate "Delivered" %}</th>
                            <th scope="col">{% translate "The phone didn't pick up" %}</th>
                            <th scope="col">{% translate "Cancelled" %}</th>
                            <th scope="col">{% translate "Archived" %}</th>
                        </tr>
                        <tr class="bg-info">
                            <td>{% translate "Total" %}</td>
                            <td></td>
                            <td> {{ streams.aggregates.total_visit_count }}</td>
                            <td> {{ streams.aggregates.total_new }}</td>
                            <td> {{ streams.aggregates.total_ready }}</td>
                            <td> {{ streams.aggregates.total_deliver }}</td>
                            <td> {{ streams.aggregates.total_delivered }}</td>
                            <td> {{ streams.aggregates.total_cant_phone }}</td>
                            <td> {{ streams.aggregates.total_canceled }}</td>
                            <td> {{ streams.aggregates.total_archived }}</td>
                        </tr>
                        </thead>

                        <tbody class="text-center">

                        {% for stream in streams %}
                            <tr>
                                <th>{{ stream.name }}</th>
                                <th>{{ stream.product.name }}</th>
                                <td>{{ stream.visit_count }}</td>
                                <td>{{ stream.new }}</td>
                                <td>{{ stream.ready }}</td>
                                <td>{{ stream.deliver }}</td>
                                <td>{{ stream.delivered }}</td>
                                <td>{{ stream.cant_phone }}</td>
                                <td>{{ stream.canceled }}</td>
                                <td>{{ stream.archived }}</td>
                            </tr>
                        {% endfor %}


                        <tr class="bg-info">
                            <td>{% translate "Total" %}</td>
                            <td></td>
                            <td> {{ streams.aggregates.total_visit_count }}</td>
                            <td> {{ streams.aggregates.total_new }}</td>
                            <td> {{ streams.aggregates.total_ready }}</td>
                            <td> {{ streams.aggregates.total_deliver }}</td>
                            <td> {{ streams.aggregates.total_delivered }}</td>
                            <td> {{ streams.aggregates.total_cant_phone }}</td>
                            <td> {{ streams.aggregates.total_canceled }}</td>
                            <td> {{ streams.aggregates.total_archived }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}