{% extends  'apps/base.html' %}

{% load category_tags %}
{% load favourite_tags %}
{% load i18n %}

{% block content %}

    <div class="card mb-3 mt-2">
        <div class="card-body">
            <div class="col-lg-8 swiper-container">

                <form method="post" action="{% url 'product_detail' product.slug %}">
                    {% csrf_token %}
                    <input type="text" hidden name="product" value="{{ product.pk }}">
                    {% if 'oqim' in request.path %}
                        <input type="text" hidden name="stream" value="{{ stream.pk }}">
                    {% endif %}
                    <div class="mb-2">
                        <label class="form-label" for="formGroupNameInput">{% translate "First name" %}:</label>
                        <input class="form-control" name="full_name" id="formGroupNameInput" type="text"/>
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="phone-mask">{% translate "Phone number" %}:</label>
                        <input class="form-control" id="phone-mask" required name="phone" type="text"/>
                    </div>
                    <span style="padding-bottom: 100px;">
    
                </span>
                    <div class="d-grid gap-2 col-6 mx-auto" style="margin-top: 20px;">
                        <button class="btn btn-primary" type="submit">{% translate "To order" %}</button>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-lg-8 swiper-container" style="margin-top: 20px;">

                    <img src="{{ product.image.url }}" alt="" class="img-main mb-3 img-fluid">

                    <div class="row mb-5 thumbs">

                    </div>
                </div>
            </div>
            <div class="col-lg-8 swiper-container">
                {{ product.description|safe }}
                <h4 class="d-flex align-items-center">
                <span class="text-warning me-2">
                    {% if 'oqim' in request.path %}
                        <del style="color: #5a5b60">{{ stream.product.price }}</del>
                        <span style="color: green; font-size: 18px">- {{ stream.discount }}</span><br>
                        {{ stream.product.price|minus:stream.discount }}
                    {% else %}
                        {{ product.price }}
                    {% endif %}
                    so'm
                </span>
                    <a href="{% url 'favorite' product.pk %}"
                       style="font-size: 50px; color: goldenrod; margin-left: 20px">
                        {% if user|is_liked:product %}
                            ★
                        {% else %}
                            ☆
                        {% endif %}
                    </a>

                </h4>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_js %}
    <script>
        $(document).ready(function () {
            $('#phone-mask').inputmask({
                "mask": "+\\9\\98(99) 999-99-99"
            });
        });
    </script>
{% endblock %}