{% extends 'apps/base.html' %}

{% load static %}
{% load i18n %}

{% block content %}

    <div class="container text-center pb-5 card" style="margin-top: 80px;">
        <div class="card-body" style="margin-top: 30px">

        </div>

        <img style="height: 100px; width:100px; margin-left:45%; margin-top: 30px"
             src="{% static 'apps/assets/img/success_icon.png' %}" alt="Green Success Image">
        <h3 class="mt-4">{% translate "Your application has been accepted" %}!</h3>
        <p>{% translate "An operator will contact you shortly for more information." %}.</p>
        <p>{% translate "Please keep your phone turned on!" %}</p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">{% translate "Product" %}</th>
                <th scope="col">{% translate "Price" %}</th>
                <th scope="col">{% translate "Quantity" %}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="col">{{ order.product.name }}</th>
                <th scope="col">{{ order.price }}</th>
                <th scope="col">1</th>
            </tr>

            <tr>
                <th scope="col">{% translate "Delivery" %}</th>
                <th scope="col">
                    Delivery Price Regions: {{ delivery.delivery_price_regions }}<br>
                    Delivery Price Tashkent Region: {{ delivery.delivery_price_tashkent_region }}<br>
                    Delivery Price Tashkent: {{ delivery.delivery_price_tashkent }}<br><br>
                    <b style="color: black">{% translate "The operator will contact you and provide an explanation." %}</b>
                </th>
            </tr>


            </tbody>
        </table>
        <div class="row">
            <div class="col-md-6">


            </div>
            <div class="col-md-6 mt-3">
                <a href="{% url 'product_list' %}" class="btn btn-primary w-50">{% translate "Other products" %}</a>
            </div>
        </div>
    </div>

{% endblock %}